html, body {
  background-color: white;
  color: black;
  overflow: hidden;
  --lightgrey: #eee;
}

body {
  margin: 0;
  font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
